*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 639px) {
  .show-config > .gutter,
  .show-config > div:last-of-type {
    display: none;
  }

  .show-config > div:first-of-type {
    width: 100% !important;
    padding-right: 0 !important;
  }

  .show-outputs > .gutter,
  .show-outputs > div:first-of-type {
    display: none;
  }

  .show-outputs > div:last-of-type {
    width: 100% !important;
    padding-left: 0 !important;
  }
}
